Repository depromeet/ticlemoa-backend, pull requests merged in 2022-12, with the labels that each got.

#18 feature: kakao login api ios 수정
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/jwt-payload.ts
  src/auth/dto/login-request.dto.ts
  src/auth/dto/validate-user.dto.ts
  src/auth/types/accessToken.interface.ts
  src/auth/types/jwt-payload.interface.ts
  src/auth/types/jwtSubjectType.ts
  src/auth/types/kakao-profile.interface.ts
  src/auth/types/token-response.interface.ts
  src/auth/utils/strategies/jwt.strategy.ts
  src/auth/utils/strategies/kakao.strategy.ts
  src/entities/types/auth-provider.enum.ts
  src/entities/types/auth-provider.interface.ts
  src/entities/user.entity.ts
  yarn.lock
Labels: auth, Feature

#20 Feat/articleSpec 아티클 명세 작성
  nest-cli.json
  package.json
  src/app.controller.ts
  src/app.module.ts
  src/article/article.controller.spec.ts
  src/article/article.controller.ts
  src/article/article.module.ts
  src/article/article.service.spec.ts
  src/article/article.service.ts
  src/article/dto/create-article.dto.ts
  src/article/dto/response-article.dto.ts
  src/common/decorators/ids.pipe.ts
  src/entities/article.entity.ts
  src/entities/common.entity.ts
  src/entities/user.entity.ts
  src/main.ts
  yarn.lock
Labels: documentation

#25 feat: ios 네이버 로그인 기능 추가
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/dto/login-request.dto.ts
  src/auth/utils/guards/naver-auth.guard.ts
  src/auth/utils/strategies/kakao.strategy.ts
  src/auth/utils/strategies/naver.strategy.ts
  yarn.lock
Labels: auth, Feature

#30 feat: 태그 생성 api
  src/app.module.ts
  src/auth/auth.service.ts
  src/entities/article.entity.ts
  src/entities/articleTag.entity.ts
  src/entities/common.entity.ts
  src/entities/tag.entity.ts
  src/entities/user.entity.ts
  src/tag/dto/request/request-tag.dto.ts
  src/tag/dto/response/response-tag.dto.ts
  src/tag/dto/tag.mapper.ts
  src/tag/repository/tag.repository.ts
  src/tag/tag.controller.spec.ts
  src/tag/tag.controller.ts
  src/tag/tag.module.ts
  src/tag/tag.service.spec.ts
  src/tag/tag.service.ts
Labels: Feature, tag

#32 feat: 전체 태그 조회 api 추가
  src/app.controller.ts
  src/auth/auth.controller.ts
  src/auth/utils/strategies/jwt.strategy.ts
  src/main.ts
  src/tag/dto/pagination/pagination-request.dto.ts
  src/tag/dto/response/response-tag.dto.ts
  src/tag/dto/tag.mapper.ts
  src/tag/repository/tag.repository.ts
  src/tag/tag.controller.ts
  src/tag/tag.service.ts
Labels: Feature, tag

#38 chore: 태그 메서드명 변경
  src/tag/tag.controller.ts
  src/tag/tag.service.ts
Labels: Feature, tag

#43 Feat/aws articleTag 사용하도록 수정
  .github/workflows/be-student.yml
  be-student-Dockerrun.aws.json
  src/article/article.service.ts
  src/article/repository/articleTag.repository.ts
Labels: bug
